button{
    font-size: large;
    padding: 5px 10px;
    box-shadow: 5px cadetblue;
    border: 2px solid black;
}
.container{
    display: flex;
    gap: 25px;
    padding: 10px;
    width: 100%;
    height: 100vh;
}
.data1{
    background-color:bisque;
    padding: 10px;
}
.title{
    font-size: 25px;
}